.blogpost-main-container {
    padding: 0px 50px 40px;
}

.blogpost-main-container h3{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.blogpost-main-container article h1{
    font-size: 30px;
}